.contact {
}
.wrapper_contact {
    max-width: 1750px;
    margin: 0 auto;
}
.text_first_contact {
    text-align: center;
    max-width: 565px;
    margin: 0 auto;
    h1{
        padding-top: 90px;
    }
}
.line_main {
}
.formachka {
}
.row_formachka {
}
.bottom_row_contact {
}
.mini_row_bottom_contact {
}
.but_contact {
}