@charset "UTF-8";
.slider {
  background-image: url("../img/specialty's-bg (1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.slider_text {
  padding-top: 30px;
  text-align: center;
}
.slider_text h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider_row {
  display: flex;
}

.slider_row_img img {
  width: 100%;
}

.slider_row_text {
  padding-top: 170px;
  max-width: 600px;
  text-align: center;
}
.slider_row_text h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.slider_row_text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}
.slider_row_text p {
  margin: 0 auto;
  line-height: 18px;
  max-width: 400px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1250px) {
  .slider_row {
    flex-direction: column;
  }
  .slider_row .slider_row_text {
    padding: 0 15px;
    margin-bottom: 35px;
  }
}
.slick-slider {
  border: none;
  outline: none;
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
  border: none;
  outline: none;
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
  border: none;
  outline: none;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  border: none;
  outline: none;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  border: none;
  outline: none;
}

/* Слайд */
.slick-slide {
  border: none;
  outline: none;
}

/* Слайд активный (показывается) */
/* Стрелка */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
}

.slick-dots li {
  list-style: none;
  margin-bottom: 90px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  font-size: 0;
  width: 11px;
  outline: none;
  height: 11px;
  border: none;
  background: #FFFFFF;
  border-radius: 50%;
}

/* Элемент точки */
.slick-dots li button {
  outline: none;
  border-radius: 50%;
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.5;
  border: none;
  margin-right: 10px;
}

.menu {
  padding-bottom: 100px;
}

.wrapper_menu {
  max-width: 1650px;
  margin: 0 auto;
}

.menu_text h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #000000;
}
.menu_text h2 {
  margin-bottom: 66px;
  text-align: center;
}

.row_first_text {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
.row_first_text h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  cursor: pointer;
}
.row_first_text h3:hover {
  color: red;
}

.item_row_first_text {
  display: flex;
}

.row_mini_item {
  display: flex;
}

.polosa_menu {
  width: 50px;
  height: 0px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  transform: rotate(90deg);
}

.row_second_text {
  margin: 0 15px;
  display: flex;
  justify-content: center;
}

.item_row_second_text {
  margin-right: 86px;
}
.item_row_second_text h1 {
  font-size: 18px;
  color: #333333;
}
.item_row_second_text p {
  font-size: 13px;
  color: #3333335e;
}
.item_row_second_text:last-child {
  margin-right: 0;
}

@media (max-width: 750px) {
  .menu_text {
    padding: 0 15px;
  }

  .row_first_text {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    padding: 0 130px;
    margin-right: -15px;
    margin-bottom: -50px;
  }
  .row_first_text h3 {
    font-size: 16px;
    padding-right: 10px;
  }
  .row_first_text h3:last-child {
    padding-right: 0;
  }

  .polosa_menu {
    transform: rotate(0deg);
  }

  .row_mini_item {
    display: flex;
    flex-direction: column;
  }

  .item_row_second_text {
    margin-right: 15px;
  }
}
@media (max-width: 470px) {
  .row_first_text {
    margin-bottom: -60px;
  }
  .row_first_text h3 {
    font-size: 11px;
  }
  .row_first_text .polosa_menu {
    width: 33px;
  }
}